<p id="notice"><%= notice %></p>


 <% @tweets.each do |tweet| %>
  <div class="card" style="width: 100%;">
    <div class="card-header " style="background-color: #e3f2fd;"><%= tweet.title %> </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item font-weight-bold text-center"><%=" #{tweet.content} " %></li>
        <div style = "padding: 5px;">
        <%= link_to 'Show',tweet, class:"btn btn-primary btn-sm"  %>
        <%= link_to 'Edit', edit_tweet_path(tweet), class:"btn btn-primary btn-sm" %>
        <%= link_to 'Destroy', tweet, method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-primary btn-sm" %>
        </div>
      </ul>
  </div>
  <br>
<% end %>

<%= link_to 'Nuevo tweet', new_tweet_path %>
